body {
  padding-top: 70px;
  background:#F0F0F0;
  font-size:14px;
  line-height:2.6rem;
  font-family: 'Roboto', sans-serif;
}
a {
  color:#666;
  text-decoration:none;
}
.pt {
  cursor:pointer;
}
h2 {
  font-size:2.6rem;
}
h6, .h6 {
  font-size:1.8rem;
}
.container {
  max-width:1040px;
}
.bc {
  position:relative;
  z-index:2
}
.bx, .bc {
  background:#fff;
  float:left;
  width:100%;
  box-shadow: compact(0 2px 0 #ccc);
  border-radius:4px;
}
.bx {
  padding:15px;
  margin:0 0 15px 0;
}
.bc {
  padding:0;
  margin:0 0 15px 0;
}
.cc {
  border-top-right-radius:4px;
  border-top-left-radius:4px;
}
.cd {
  padding:0 15px;
}
.ce {
  border-top:solid 1px #ececec;
  padding:0;
}
.cf {
  padding:10px;
}
.cf i {
  font-size:2.6rem;
  color:#999;
}
.ch {
}
.tr {
  text-align:right;
}
.ml {
  margin:0 0 0 10px;
}
.ci {
  font-size:1.3rem;
  text-transform:uppercase;
  font-weight:bold;
  margin:0 0 0 10px;
  color:#999;
  float:right;
}
.ct {
  padding-top:15px;
}
.ft p {
  padding:0;
  margin:0;
  font-size:1.3rem;
  color:#999;
}
.ft {
  border-top:solid 1px #ececec;
  background:#fff;
  padding:15px 0;
}
.cj {
  padding:5px;
  margin:0 0 20px 0;
  border:solid 1px #eee;
  background:#fff;
  border-radius:4px;
}
.cj h3 {
  font-size:1.4rem;
  line-height:2.4rem;
}

.w ul {
  list-style: none;
  letter-spacing: 0.9px;
  padding:0;
  margin:20px 0 0 0;
}
.w ul li.cv {
  padding:0;
  margin:0 0 20px 0;
  height: 110px;
  background-color: #e6e6e6;
}
.w li {
  position: relative;
  text-align: center;
  background-size: cover;
  background-position: center;
}
.w ul > li {
  position: relative;
}
.mi {
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.3, 0.4, 0.8, 0.6);
  -o-transition: all 0.3s cubic-bezier(0.3, 0.4, 0.8, 0.6);
  transition: all 0.3s cubic-bezier(0.3, 0.4, 0.8, 0.6);
  background: rgba(255, 255, 255, 0.2);
}
.cl {
  padding: 12px 14px;
  background: #ffffff;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2.4px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.tg {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin:0 -10px 15px 0;
}
.tg a {
  border: solid 1px #e6e6e6;
  border-radius: 100px;
  padding: 2px 13px;
  font-size: 12px;
  display: inline-block;
  text-transform: uppercase;
  margin: 5px 10px 5px 0;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  text-align: center;
  -webkit-transition: all 0.2s cubic-bezier(0.3, 0.6, 0.3, 0.6);
  -o-transition: all 0.2s cubic-bezier(0.3, 0.6, 0.3, 0.6);
  transition: all 0.2s cubic-bezier(0.3, 0.6, 0.3, 0.6);
}
.nx {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0;
  background:#fff;
  float:left;
  margin:0 0 20px 0;
  border-radius:4px;
  position: relative;
}
.nx .next {
  text-align:right;
  float: right;
}
.nx .prev {
  float:left;
}
.nz {
  width:50%;
}
.np {
  padding:5px 15px;
}
.nr {
  padding:0 15px;
}
.nr i {
  font-size:16px;
}
.hh {
  width:100%;
  float:left;
  display:inline;
  padding:0;
  margin:0;
  list-style:none;
}
.hh li {
  width:50%;
  float:left;
  display:inline;
  padding:10px 5px 0 10px;
  margin:0 0 10px 0;
  background:#fff;
}
.hh li:nth-child(odd) {
  border-right:solid 10px #ececec;
}
.hb {
  overflow: hidden;
  padding:5px 0 0 0;
}
.ha {
  overflow: hidden;
  float:left;
  width:40px;
  height:40px;
  margin:0 10px 0 0;
}
